body {
  background-color: black;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: White;
}

a {
  Color: Aquamarine;
  font-size: 16px;
}

.copyright {
  text-align: right;
  color: gray;
}
